:root {
    /* pallet */
    --clr1: #ff7f00;
    --clr2: #ebd7c3;
}

/* BASICS */

* {
    box-sizing: border-box
}

body {
    background-color: lightgray;
    margin: 0;
}

ul , p{
    padding: 0;
    margin-bottom:0;
    
}

img {
    /* width: 100%;
    height:100%; */
    object-fit: cover;
    border-radius: 4px;
}

input {
    text-align: center;
    border: 0;
    border-radius: 2px;
    border-bottom: solid 1px;
    background-color: rgb(209, 209, 204);
    outline: 0px;
}

header {
    background-color: var(--clr1);
    width: 100%;
    height: 10vh;
}

button {
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0
}

footer{
    max-height: 10vh;
}

button:hover,
.color-btn img:hover {
    transform: scale(1.1);
    /* background-color: var(--clr2); */
    cursor: pointer;
}

canvas {
    background-color: rgb(255, 255, 255);
}

/* HELPERS */

.grid-center {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none
}

.clean-list {
    list-style-type: none;
}

.img-gallery {
    gap: 15px;
}

.gallery-container {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    place-items: center;
    padding: 10px;
}

.canvas-container {
    display: grid;
    place-items: center;
    width: 95%;
    border-radius: 3px;
    padding-bottom: 15px;
    /* height: 100%; */
}

.upper-buttons button,
.color-btn img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: x-large;
}

.upper-buttons .item,
.color-btn {
    width: 50px;
    height: 50px;

}


.upper-buttons {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.titles-links {
    width: 250px
}

.tags-links button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: small;
}

.contact-me {
    padding-top: 15px;
    text-align: center;
}


.meme-text-input {
    font-size: larger;
    font-weight: 700;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color:var(--clr2);
}

.meme-text-input :active {}

.logo {
    display: grid;
    place-items: center;
}

/* components */

.logo img {
    width: 200px;
    place-items: center;
}

.search-keywords {
    font-size: 25px;
    ;
}

.random-btn {
    font-size: larger;
}

.emojies{
    max-width: 300px;
    overflow-y:hidden;
    overflow-x: scroll;

}

.emoji {
    font-size: 50px;
    padding: 5px;
}

.emoji:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.share-btn{
    font-size: xx-large;
    background-color: var(--clr2);
    display: inline;
}


.gallery-container img:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 7px 3px #edbd38;
}

.btn-menu {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-inline-end: 10px;
    border: none;
    font-size: x-large;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    align-self: center;
}

btn-menu:hover .drop-down {
    transform: scale(1.1);
}

btn-menu:hover {
    transform: translate(0, 100%);
}

.drop-down {
    position: absolute;
    right: 13px;
    top: -200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: 0.6s;
    pointer-events: none;
    opacity: 0
        /* transform: translate(0,-100%); */
}

.drop-down.clicked {
    transform: translate(0, 100%);
    opacity: 1;
    pointer-events: auto;
}

.drop-down button {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-inline-end: 10px;
    border: none;
    font-size: large;
    width: 60px;
    height: 60px;
}

.drop-down button:hover {
    color: var(--clr1);
}

.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: opacity .6s;
    pointer-events: none;
}

.main-screen.menu-open {
    /* display: block; */
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}

.contact-me img {
    width: 200px;
}

.gallery-container img {
    width: 100%
}

.fillInput {
    display: none;
}

.meme-editor {
    grid-template-columns: 1fr;
    grid-row: 4fr 1fr;
}

.upper-buttons button,
.color-btn img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: x-large;
    padding-bottom: 10px;
}

.main-layout>*:not(.full) {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.about-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
   border-radius: 14px;
    background-color: #fbb36c;
    opacity: 0.9;
    font-size: x-large;
}
.about-modal button{
    font-size: x-large;
    background-color: rgba(255, 127, 0, 0.4);
}

.font-selector {
    font-size: large;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--clr2);
}
.control-box {
    align-items: center;
}



@media(min-width:550px) {
    .main-layout {
        margin-right: auto;
        margin-left: auto;
    }

    .main-layout>*:not(.full) {
        width: 95%;
        max-width: 700px;
    }

    .gellery-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        transition: 0.4s
    }

    .gellery-container img {
        transition: 0.3s
    }

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        place-items: center;
        padding: 10px
    }

    .canvas-container {
        display: grid;
        place-items: center;
        max-width: 85%;

    }

 

    .font-selector:hover {
        background-color: #fff;
    }


    .upper-buttons button,
    .color-btn img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        gap: 15px;
        font-size: x-large;
    }
    .emoji{
        font-size: 30px;
    }


}

@media(min-width:900px) {

    .main-layout>*:not(.full) {
        margin-left: auto;
        margin-right: auto;
        max-width: 920px;

    }

    .meme-editor {
        width: 100%
    }

    .canvas-container {
        max-width: 500px;
        padding-bottom: px;
    }

    .control-box {
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 25px
    }

    .font-selector {
        font-size: large;
        grid-column-start: 1;
        grid-column-end: 4;

        padding: 5px
    }

    .meme-editor {
        grid-template-columns: 6fr 1fr;
        grid-row: 4fr 1fr;
        height: 80vh;

    }

    .upper-buttons {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    .upper-buttons button,
    .color-btn img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        gap: 15px;
        font-size: x-large;
    }

    .btn-menu {
        display: none;
    }

    .drop-down {
        position: static;
        right: 13px;
        top: -200px;
        flex-direction: row;
        gap: 2px;
        transition: 0.6s;
        pointer-events: auto;
        opacity: 1
    }

    .drop-down button:hover {
        color: black;
    }

    .contact-me img {
        width: 300px;
    }
}

@media(min-width:1120px) {
    .main-layout>*:not(.full) {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        max-width: 1180px;
    }

    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        place-items: center;
        padding: 10px;

    }

    .control-box {
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 25px
    }

    .font-selector {
        font-size: large;
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        padding: 5px
    }


    .upper-buttons {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }


}

button img {
    width: 100%;
}